<!-- include header -->
<%- include('include/_header') %>
	<!-- /include header -->

	<!-- Main Site -->
	<main id="site-main">
		<div class="container">
			<div class="box-nav d-flex justify-between">
				<a href="/" class="button-border">
					<span>Go Back</span>
				</a>
			</div>
			<div class="form-title text-center">
				<h2 class="text-dark">Update Product Information</h2>
			</div>

			<!-- add user form -->
			<!-- form handling -->
			<form method="POST" id="update_user">
				<div class="new_user">
					<div class="form-group">
						<label for="toy" class="text-dark">Product</label>
						<input type="hidden" name="id" value="<%= user._id%>" />
						<input type="text" name="toy" value="<%= user.toy%>" />
					</div>
					<div class="form-group">
						<label for="Price" class="text-dark">Price</label>
						<input type="text" name="price" value="<%= user.price%>" />
					</div>

					<div class="form-group">
						<label for="gender" class="text-dark">Status</label>
						<div class="radio inline">
							<input type="radio" id="radio-4" name="status" value="In Stock" <%=user.status=='In Stock' ? 'checked'
								: '' %>
							>
							<label for="radio-4" class="radio-label">In Stock</label>
						</div>
						<div class="radio inline">
							<input type="radio" id="radio-5" name="status" value="Out of Stock" <%=user.status=='Out of Stock'
								? 'checked' : '' %> >
							<label for="radio-5" class="radio-label">Out of Stock</label>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn text-dark update">
							Save
						</button>
					</div>
				</div>
			</form>
		</div>
	</main>
	<!-- /Main Site -->

	<!-- include footer -->
	<%- include('include/_footer') %>
		<!-- /include footer -->